<html>

<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Haulsrv</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind.css') }}" />
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit-icons.min.js"></script>
  <script>
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
  <script>
    window.addEventListener("load", function () {
      var themeToggleBtn = document.getElementById("theme-toggle");

      themeToggleBtn.addEventListener("click", function () {
        // if set via local storage previously
        if (localStorage.getItem("color-theme")) {
          if (localStorage.getItem("color-theme") === "light") {
            document.documentElement.classList.add("dark");
            localStorage.setItem("color-theme", "dark");
          } else {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("color-theme", "light");
          }

          // if NOT set via local storage previously
        } else {
          if (document.documentElement.classList.contains("dark")) {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("color-theme", "light");
          } else {
            document.documentElement.classList.add("dark");
            localStorage.setItem("color-theme", "dark");
          }
        }
      });
    });
  </script>
  {% endblock %}
</head>

<body>
  <div class="flex gap-4">
    <div class="flex-none w-48">
      <nav>
        <ul>
          <li><a>Overview</a></li>
          <li><a>Topics</a></li>
          <li><a>Schema Registry</a></li>
          <li><a>Consumer Groups</a></li>
          <li><a>Security</a></li>
          <li><a>Connectors</a></li>
          <li><a>Admin</a></li>
        </ul>
      </nav>
    </div>
    <div class="flex-1">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>

</html>
